section {
    background-color: #ffd900a0;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 2rem auto;
    max-width: 600px;
  }
  
  #quiz {
    text-align: center;
    color: #2b4743;
    font-size: 2.2rem;
    margin-bottom: 2vw;
  }

  form {
    margin: 1rem auto;
  }
  
  label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2b4743;
  }
  
  input[type="radio"] {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    border: 0.2rem solid #2b4743 ;
    background-color: #ffd900a0;
  }
  
  input[type="radio"]:checked::before {
    background-color: #643f00;
  }
  
  hr {
    border: none;
    border-top: 0.1rem solid #643f00;
    margin: 2rem auto;
    width: 80%;
  }

  .choices {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
  }

  .choices p {
    text-align: right;
    margin-right: 1vw;
  }

  #btnSubmit {
    background-color: #2b4743;
    color: aliceblue;
    font-weight: bold;
    width: 10vw;
    height: 3vw;
  }

  #btnSubmit:hover {
    background-image: url('../images/pngtree-geometric-green-gold-abstract-brush-background-image_757941.jpg');
    color: #2b4743;
  }





  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */



  
  @media (max-width: 768px) {
    section {
      max-width: 90%;
    }
  }
  
  @media (max-width: 576px) {
    .choices {
      grid-template-columns: 4fr 1fr;
    }
    
    #btnSubmit {
      width: 20vw;
      height: 6vw;
    }
  }