@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: var(--body-color);
}
:root {
  --green-color: #2b4743;
  --white-color: #cedeeb;
  --gold-color: #dda83f;
  overflow-x: hidden;

}

/* Navbar Style */

#navbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--green-color);
}

#logo {
  max-width: 6vw;
  height: 6vw;
}

#navTabs {
  line-height: 5;
  display: flex;
  justify-content: space-around;
}

.tab {
  text-decoration: none;
  margin-left: 2.5vw;
  color: var(--white-color);
  font-size: 1.2em;
}

.tab:hover {
  color: #dda83f;
}

/* Navbar Style */



/* Animation  */


#slider {
	overflow: hidden;
    margin-left: -4%;

}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 15s slider infinite;
}

#slider figure:hover {
	/*animation-play-state: paused; enable for pause on hover*/
}
#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}

#text{
    margin-left: 1%;
    position: absolute;
    margin-top: 19%;
    padding: 0 33%;
    z-index: 1;
    color: white;
    font-weight: bold;
}


.button{
    background-color: #dda83f;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: -14%;
    margin-left: 43%;
}



/* Animation  */


#secondSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 3vw;
  margin-bottom: 3vw;
}



/* Table Style */


table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
th,
td {
  width: 14.28%;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

th {
  background-color: #2e8ece;
  color: #fff;
}

td {
  font-weight: normal;
  background-color: #fff;
  color: #666;
  transition: background-color .3s ease;
}

td:hover {
  background-color: #f5f5f5;
}

.weekend {
  background-color: red;
}



/* Table Style */



/* add */
/* slider style */


  /* section 2 style */
  #section2{
    margin-top: 0.5%;
    display: flex;
  }
  
  
  #section3{
    display: flex;
    font-family: Verdana, sans-serif;
    justify-content: space-around;}
  /* body {font-family: Verdana, sans-serif;} */
  
  
  #slider1 {
    overflow: hidden;
    width: 50%;
  }



/* Footer Style */

#footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--green-color);
}

#logoFooter {
  max-width: 16vw;
  height: 16vw;
}

.footerContent {
  color: var(--white-color);
  margin-top: 3.5vw;
}

#Copyright {
  margin-top: 7vw;
}

#FooterNavTabs ul li {
  margin-bottom: 1vw;
}

#FooterNavTabs ul a {
  text-decoration: none;
  color: var(--white-color);
}

#FooterNavTabs ul {
  list-style-type: none;
}

/* Footer Style */

/* Responsive  */


/* Styles for screens smaller than 400px */
@media (max-width: 400px) {
  .button {
    font-size: 16px;
    padding: 6px 12px;
    margin-left: 26%;
  }

  #slider {
      margin-left: -14%;
  }

  #text{
      font-size: 63%; 
  }
}




@media (max-width: 600px) {
  .button {
      font-size: 14px;
      padding: 8px 16px;
      margin-left: 30%;
  }
  #slider {
      margin-left: -11%;
  }

  #text{
      padding: 0 15%;
  font-size: 61%; 
  }
}



@media (max-width: 740px) {
  .button {
    font-size: 16px;
    padding: 8px 16px;
  
  }
  #slider {
      margin-left: -14%;
  margin-right: -2%;
  }

  #text{
      padding: 0 33%; 
  }
}


/* For screens up to 767px */
@media only screen and (max-width: 767px) {
  /* Navbar Responsive */
  /* Navbar Responsive */
  /* Navbar Responsive */

  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navTabs {
    margin-top: 2em;
    flex-direction: column;
    text-align: center;
  }

  .tab {
    margin: -1em 0;
  }

  #logo {
    max-width: 20vw;
    height: auto;
  }

  /* Footer Responsive */
  /* Footer Responsive */
  /* Footer Responsive */


  table {
    font-size: 12px;
  }
  th,
  td {
      width: 20%;
      padding: 5px;
  }



  /* Footer Responsive */
  /* Footer Responsive */
  /* Footer Responsive */


  #footer {
    flex-direction: column;
    align-items: center;
  }

  #logoFooter {
    max-width: 40vw;
    height: auto;
    margin-bottom: 1em;
  }

  .footerContent {
    margin-top: 2em;
    text-align: center;
  }

  #FooterNavTabs ul li {
    margin: 2em 0;
  }

  #FooterNavTabs {
    margin-right: 7vw;
  }
}

/* For screens between 768px and 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Navbar Responsive */
  /* Navbar Responsive */
  /* Navbar Responsive */

  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navTabs {
    margin-top: 2em;
    flex-direction: column;
    text-align: center;
  }

  .tab {
    margin: -1em 0;
  }

  #logo {
    max-width: 10vw;
    height: auto;
  }

  /* Footer Responsive */
  /* Footer Responsive */
  /* Footer Responsive */

  #footer {
    flex-direction: column;
    align-items: center;
  }

  #logoFooter {
    max-width: 20vw;
    height: auto;
    margin-bottom: 1em;
  }

  .footerContent {
    margin-top: 2em;
    text-align: center;
  }

  #FooterNavTabs ul li {
    margin: 2em 0;
  }

  #FooterNavTabs {
    margin-right: 7vw;
  }
}

/* For screens 1024px and above */
@media only screen and (min-width: 1024px) {
  /* Navbar Responsive */
  /* Navbar Responsive */
  /* Navbar Responsive */

  #navbar {
    justify-content: space-around;
  }

  #navTabs {
    flex-direction: row;
  }

  .tab {
    margin: 0 1em;
  }

  #logo {
    max-width: 6vw;
    height: 6vw;
    margin-bottom: 0;
  }

  /* Footer Responsive */
  /* Footer Responsive */
  /* Footer Responsive */

  #footer {
    justify-content: space-around;
  }

  #logoFooter {
    max-width: 16vw;
    height: 16vw;
    margin-bottom: 0;
  }

  .footerContent {
    margin-top: 3.5vw;
    text-align: left;
  }

  #FooterNavTabs ul li {
    margin-bottom: 1vw;
  }
}


/* add */
/* slider style */


  /* section 2 style */
#section2{
  margin-top: 0.5%;
  display: flex;
}


#section3{
  display: flex;
  font-family: Verdana, sans-serif;
  justify-content: space-around;}
/* body {font-family: Verdana, sans-serif;} */


#slider1 {
	overflow: hidden;
  width: 50%;
}
